<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movies MVC</title>

    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/fontawesome")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @* Bootstrap 3 Navbar *@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    @* Bootstrap 4 Navbar *@
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="~/"><i class="fa fa-lg fa-home"></i> Movies MVC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">

                    <!--<li class="nav-item active">-->
                    @*<a class="nav-link" href="~/Home">Home <span class="sr-only">(current)</span></a>*@
                    @*<a class="nav-link" href="~/Movies">Movie List</a>*@
                    <!--<a class="nav-link" href="~/Movies/List"><i class="fa fa-film"></i> Movie List</a>
    </li>-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Movies/List"><i class="fa fa-film"></i> Movie List</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Directors")"><i class="fa fa-users"></i> Director List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Reviews")"><i class="fa fa-comments"></i> Review List</a>
                    </li>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "MoviesReport")"><i class="fa fa-list"></i> Movies Report</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MoviesReportAjax")"><i class="fa fa-list"></i> Movies Report | AJAX</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Json", "MoviesReportAjax")"><i class="fa fa-list"></i> Movies Report | JSON</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/MoviesReportAjaxJson.html"><i class="fa fa-list"></i> Movies Report | jQuery AJAX</a>
                    </li>

                    @*<li class="nav-item">
            <a class="nav-link" href="/Home/Contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/About">About</a>
        </li>*@
                    @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </div>

    <div class="container body-content">

        <div class="paddingtop">

            @RenderBody()

        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bilge Adam</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
