@*@model IEnumerable<_036_MoviesMvcBilgeAdam.Entities.Director>*@
@model List<DirectorModel>

@{
    ViewBag.Title = "Director List";
}

<h2>@ViewBag.Title</h2>

<p>
    @*@Html.ActionLink("<i class=\"fa fa-plus\"></i> New Director", "Create")*@
    <a href="@Url.Action("Create")" title="Create New Director"><i class="fa fa-plus"></i> New Director</a>
</p>

@if (Model != null && Model.Count > 0)
{
    <h5 class="text-secondary">@Model.Count directors found.</h5>
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Surname)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FirstOrDefault().Retired)*@
                @Html.DisplayNameFor(model => model.FirstOrDefault().RetiredText)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MoviesText)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Retired)*@
                    @Html.DisplayFor(modeItem => item.RetiredText)
                </td>
                
                <td>
                    @Html.Raw(item.MoviesText)
                </td>

                <td style="width: 22%; text-align: right;">
                    @*@Html.ActionLink("Edit", "Edit", new {id = item.Id}) |*@
                    <a href="@Url.Action("Edit", new { id = item.Id })" title="Edit Director"><i class="fa fa-pencil-square-o"></i> Edit</a> |

                    @*@Html.ActionLink("Details", "Details", new {id = item.Id}) |*@
                    <a href="@Url.Action("Details", new { id = item.Id })" title="Director Details"><i class="fa fa-info-circle"></i> Details</a> |

                    @*@Html.ActionLink("Delete", "Delete", new {id = item.Id})*@
                    <a href="@Url.Action("Delete", new { id = item.Id })" title="Delete Director"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="text-secondary">No directors found.</p>
}