@model List<MovieModel>

@{
    ViewBag.Title = "Movie List";
}

@*<div class="paddingtop">*@ @* Layout view'ında RenderBody() üzerinde yazıldı *@
<h2>@ViewBag.Title</h2>

@*<a href="/Movies/Create">New Movie</a>*@
@*@Html.ActionLink("New Movie", "Create", "Movies")*@@* a tag'i oluşturan HTML Helper *@

@*@Html.ActionLink("New Movie", "Create")*@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    @Html.ActionLink("New Movie", "Create")
}

@if (TempData["Message"] != null)
{
    <p class="text-secondary">
        @TempData["Message"]
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Production Year
            </th>
            <th>
                Box Office Return
            </th>
            <th>
                Directors
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (MovieModel movie in Model)
        {
            <tr>
                <td>
                    @movie.Name
                </td>
                <td>
                    @movie.ProductionYear
                </td>
                <td>
                    @movie.BoxOfficeReturn
                </td>
                <td>

                    @*@foreach (DirectorModel director in movie.Directors)
                        {
                            @(director.Name + " " + director.Surname)
                            <br />
                        }*@
                    @{
                        string directors = "";
                        foreach (DirectorModel director in movie.Directors)
                        {
                            directors += "<i>" + director.Name + " " + director.Surname + "</i><br />";
                        }
                    }
                    @Html.Raw(directors) @* HTML helper: Parametre olarak gönderilen (directors) ve HTML içeriğe sahip olan veriyi HTML formatı ile gösterir *@

                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", "Movies", new { id = movie.Id }, null)*@
                    @Html.ActionLink("Details", "Details", new { id = movie.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = movie.Id }) |

                    @* Get aksiyon methodu ile silme. Silme işlemleri bu şekilde yapılmamalıdır! *@
                    @*@Html.ActionLink("Delete", "DeleteMovie", new { id = movie.Id })*@

                    @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@*</div>*@

